<div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart"
              [datasets]="lineBigDashboardChartData"
              [labels]="lineBigDashboardChartLabels"
               [colors]="lineBigDashboardChartColors"
              [options]="lineBigDashboardChartOptions"
              [chartType]="lineBigDashboardChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Clock In Late</h5>
        <h4 class="card-title">Number of Employees</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas baseChart id="lineChartExample"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [colors]="lineChartColors"
                      [options]="lineChartOptions"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Clock In Early</h5>
        <h4 class="card-title">Number of Employees</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
          <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                      [datasets]="lineChartWithNumbersAndGridData"
                      [labels]="lineChartWithNumbersAndGridLabels"
                      [colors]="lineChartWithNumbersAndGridColors"
                      [options]="lineChartWithNumbersAndGridOptions"
                      [chartType]="lineChartWithNumbersAndGridType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Daily Salary Distribution</h5>
        <h4 class="card-title">Total Sum (RM)</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas baseChart id="barChartSimpleGradientsNumbers"
                      [datasets]="lineChartGradientsNumbersData"
                      [labels]="lineChartGradientsNumbersLabels"
                      [colors]="lineChartGradientsNumbersColors"
                      [options]="lineChartGradientsNumbersOptions"
                      [chartType]="lineChartGradientsNumbersType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons ui-2_time-alarm"></i> Last 12 days
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card  card-tasks">
      <div class="card-header ">
        <h5 class="card-category">Late In</h5>
        <h4 class="card-title">Employees Stats</h4>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>No.</th>
              <th>Employee Name</th>
              <th>Phone Number</th>
              <th>Freq.</th>
            </thead>
            <tbody>
              <tr *ngFor="let lateIn of lateInsTable | paginate: { itemsPerPage: itemsPerPage, currentPage: lateInPage }; let i = index;">
                <td>{{ lateInsTable.indexOf(lateIn)+1 }}</td>
                <td>{{ lateIn.employeeName }}</td>
                <td>{{ lateIn.phoneNumber }}</td>
                <td>{{ lateIn.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="now-ui-icons loader_refresh spin"></i> Updated today
        </div>
        <div class="row single-row mt-10 d-flex justify-content-between">
          <div class="col-md-4"> Page {{ lateInPage }} of {{ lateInsTable.length == 0 ? 1 : Math.ceil(lateInsTable.length / itemsPerPage) }} </div>
          <pagination-controls (pageChange)="lateInPage = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card  card-tasks">
      <div class="card-header">
        <h5 class="card-category">Early In</h5>
        <h4 class="card-title"> Employees Stats</h4>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>No.</th>
              <th>Employee Name</th>
              <th>Phone Number</th>
              <th>Freq.</th>
            </thead>
            <tbody>
              <tr *ngFor="let earlyIn of earlyInsTable | paginate: { itemsPerPage: itemsPerPage, currentPage: earlyInPage }; let i = index;">
                <td>{{ earlyInsTable.indexOf(earlyIn)+1 }}</td>
                <td>{{ earlyIn.employeeName }}</td>
                <td>{{ earlyIn.phoneNumber }}</td>
                <td>{{ earlyIn.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="now-ui-icons loader_refresh spin"></i> Updated today
        </div>
        <div class="row single-row mt-10 d-flex justify-content-between">
          <div class="col-md-4"> Page {{ earlyInPage }} of {{ earlyInsTable.length == 0 ? 1 : Math.ceil(earlyInsTable.length / itemsPerPage) }} </div>
          <pagination-controls (pageChange)="earlyInPage = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
</div>